h1 {
  color:whitesmoke;
  text-align: center;
  font-size: 3rem;
}

body { 
  background-color: seagreen;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-weight: bold;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

li { 
  font-size: 2.5rem;
  padding: 1rem;
}

img { 
  display: block;
  height:300px;
  border: slateblue solid 0.25rem;
}